
/*WIDTH*/
@media (max-width: 1070px){
    h1{
        font-size: 20px;
    }  
    #informationContainer h1{
        font-size: 25px;
    }
}

@media (max-width: 959px) { 
    #form-panel {
        text-align: center;
    }
}

@media (max-width: 961px) {
    h1{
        font-size: 15px;
    }
}

@media (max-width: 794px) {
    #whiteTower{
        display: none;
    }
    #header1{
        margin-top: 20px;
    }
    #header3{
        margin-top: 20px;
    }
}

@media (max-width: 620px) {
    #header1{
        width: 56px;
    }
    #header3{
        position: relative;
        float: right;
        width: 140px;
    }
    .body{
        width: 620px;
    }
    .footer{
        width: 620px;
    }
}

/*HEIGHT*/
@media (max-height: 720px) {
    #roomBody{
        margin-top: -7px;
        padding-bottom: 15px;
        position: static;
        display: inline-block;
    }
    #roomFooter{
        position: static;
        margin-top: -7px;
    }
}

@media (max-height: 440px) {
    #indexBody{
        margin-top: -7px;
        padding-bottom: 15px;
        position: static;
        display: inline-block;
    }
    #indexFooter{
        position: static;
        margin-top: -7px;
    }
}

@media (max-height: 400px) {
    #contactBody{
        margin-top: -7px;
        padding-bottom: 15px;
        position: static;
        display: inline-block;
    }
    #contactFooter{
        position: static;
        margin-top: -7px;
    }
}

@media (max-height: 515px) {
    #noFeaturesBody{
        margin-top: -7px;
        padding-bottom: 15px;
        position: static;
        display: inline-block;
    }
    #noFeaturesFooter{
        position: static;
        margin-top: -7px;
    }
}